<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SqlServerName" value="SERVIDORSAP" />
        <add key="SqlUserName" value="intg" />
        <add key="SqlPassword" value="Horiz0nt3s" />
        <add key="IntegrationDatabase" value="DB_INTG_SAPZOHO_PROD" />

        <add key="SapServer" value="SERVIDORSAP" />
        <add key="SapLicenseServer" value="SERVIDORSAP:30000" />
        <add key="SapDbServerType" value="dst_MSSQL2016" />
        <add key="SapUserName" value="auditori" />
        <add key="SapPassword" value="1234" />

        <add key="EnterpriseMappings" value="VINESA|TEST_VINESA|1;PLUSBRABD|TEST_PLUSBRABD|1;SERVMULTIMARC|TEST_SERVMULTIMARC|1;VINLITORAL|TEST_VINLITORAL|1" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>